body {
    background-color: snow;
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: #003366;
    text-align: center;
    font-family: Arial;
}

.form-container {
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

h2 {
    text-align: center;
}

input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    background-color: #e9ecef;
    height: 20px;
}

.form-group {
    text-align: center;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #e9ecef;
}

/* Estilização dos Botões */
.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    background-color: blue;
    color: white;
}




.btn-warning {
    background-color: #ffc107;
    color: #212529;
}
/* Botão Amarelo - Download */
.btn-danger {
    background-color: #dc3545;
    color: white;
}


.btn:hover {
    opacity: 0.9;
    background-color: lightgreen;
}
